* {
  border: none;
  border-radius: 0;
  font-family: Mononoki Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {}

#workspaces button {}

#workspaces button.active {
  color: #9ccfd8;
}

#workspaces button.focused {
  color: #9ccfd8;
}

#workspaces button.urgent {}

#workspaces button:hover {}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {}

#tray {}

#workspaces {}

#custom-caffeine {}

#custom-language {}

#custom-updates {}

#window {}

#clock {}

#network {}

#pulseaudio {}

#pulseaudio.microphone {}

#battery {}

#custom-weather {}

#custom-endright {}

#custom-caffeine {
  font-family: "mononoki Nerd Font";
  font-size: 14px;
  padding: 0 8px;
}

#custom-caffeine.on {
  color: #f9a825; /* bright amber - caffeinated/active */
}
#custom-caffeine.off {
  color: #6c6c6c; /* dimmed grey - idle allowed */
  opacity: 0.6;
}
